[submodule "glfw"]
	path = app_pojavlauncher/src/main/jni/glfw
	url = https://github.com/MojoLauncher/glfw
[submodule "mojoexec"]
	path = app_pojavlauncher/src/main/jni/mojoexec
	url = https://github.com/MojoLauncher/mojoexec
[submodule "sdl"]
	path = app_pojavlauncher/src/main/jni/sdl
	url = https://github.com/MojoLauncher/MojoSDL
